AIRFLOW_UID=1000
AIRFLOW_GID=0
_AIRFLOW_WWW_USER_PASSWORD=
AIRFLOW__CORE__FERNET_KEY=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
COSMO_FTP_PASSWORD=
GMAIL_ADDRESS=
GMAIL_PASSWORD=
FILESYSTEM=
API_PASSWORD=
FIRECREST_CLIENT_ID=
FIRECREST_CLIENT_SECRET=
FIRECREST_URL=https://api.cscs.ch/hpc/firecrest/v2
AUTH_TOKEN_URL=https://auth.cscs.ch/auth/realms/firecrest-clients/protocol/openid-connect/token